.rodape {
    background-color: #333;
    text-align: center;
}

.rodape-social {
    margin: 20px 0 10px 0;
}

.rodape-social li {
    display: inline-block;
}

.rodape-social-link {
    width: 42px;
    height: 42px;
    border: 1px solid #fff;
    margin: 0 10px;
    text-indent: 999px;
    overflow: hidden;
    border: 0;
    display: block;
}