
.secaoDestaque {
    text-align: center;
    background-size: cover;
    background-color: #00161c;
    padding: 10em 2em 3em 2em;
    color: #fff;
}

.secaoDestaque-titulo {
    font-weight: bold;
    margin-bottom: 1em;
    font-family: 'Montserrat', serif;
    font-size: 2em;
    font-weight: 1;
}

.secaoDestaque-texto {
    max-width: 600px;
    margin: 0 auto 2 auto;
    font-size: 1.25em ;
    font-weight: normal;
}

.secaoDestaque-cta {
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 1em;
    width: 100%;
    margin: 300px;
    line-height: 2.5;
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    transition: .2s ease-in;
}

.secaoDestaque-cta:hover,
.secaoDestaque-cta:focus {
    background: #fff;
    color: #333;
}

@media (min-width: 830px) {
     .secaoDestaque {
    background-image: url(../bg-intro.jpg);
     }
}

.secaoDestaque-titulo {
    font-size: 5vw;
}
