
.secaodstaque {
    text-align: center;
    background-size: cover;
    background-color: #00161c;
    padding: 10em 2em 3em 2em;
    color: #fff;
}

.secaodstaque-titulo {
    font-weight: bold;
}